*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Inter';
    width: 100%;
    height: 100%;
    font-size: 22px;
  }

/* ROOT */

:root{
    --vermelho-escuro: #640404;     
    --cinza: #252525;
    --cinza-claro: #474747;
    --cinza-escuro: #161616;
    --branco: #ffffff;
} 

/* NAVBAR */

nav {
    background-color: var(--cinza);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 0px 0 #161616;
    align-items: center;
  }

  nav img{
    width: 182px;
    height: 63px;
    margin: 5px 5px 5px 30px;
  }

.nav-text{
    display: flex;
    gap: 30px;
    justify-content: end;
    padding: 0px 70px 0px 0px;
  }
  
  nav a {
    color: #f2f2f2;
    height: 80px;
    text-decoration: none;
    font-size: 15px;
    align-content: center;
    position: relative;
    transition: all 0.4s;
  }

  nav a::after{
    content: '';
    height: 2px;
    width: 102%;
    background: var(--cinza-escuro);
    opacity: 0;
    display: flex;
    position: absolute;
    left: 0;
    bottom: 4.5vh;
    transition: all 0.2s;
    
  }

  nav a:hover::after,
  nav a:focus::after {
    opacity: 1;
  }

  nav a:active {
    color: white;
  }

/* CARDS */

.card-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  /* */
}

.card{
  border: solid 4px var(--vermelho-escuro);
  border-radius: 10px;
  height: 416px;
  width: 344px;
  display: flex;
  flex-direction: row;
  background-color: var(--branco);
  /* justify-content: ; */
  /* padding: ; */
  /* text-align: ; */
}

.card-co{
  border: solid 4px var(--vermelho-escuro);
  border-radius: 10px;
  height: 416px;
  width: 617px;
  display: flex;
  flex-direction: row;
  background-color: var(--branco);
  /* justify-content: ; */
  /* padding: ; */
  /* text-align: ; */
}
